<div class='blog_entry_wrapper'>
  <div class='decor_gradient'></div>
  <div class='entry_contents' *ngIf='entry'>
    <div class='entry_header'>
      <div class='entry_title'>{{ entry.title }}</div>
      <div class='entry_date' *ngIf='entryDate'>{{ entryDate | date }}</div>
    </div>
    <div class='entry_section'>
      <app-entry-link [entry]='entry' [commentStyle]='false'>
        <img class='entry_image' [alt]='entry.imgAlt' [src]='entry.imgSrc' />
      </app-entry-link>
      <div class='entry_description'>
        <div class='entry_brief' [innerHTML]='entry.brief'></div>
        <app-entry-link [entry]='entry' [commentStyle]='true'>
          {{ entryIsArticle(entry) ? 'Read More' : entry.linkText }}
        </app-entry-link>
      </div>
    </div>
  </div>
  <div class='entry_contents' *ngIf='!entry'>
    <ng-content></ng-content>
  </div>
  <div class='decor_gradient'></div>
</div>
