@import '../../../../scss/constants';
@import '../../../../scss/colors';

.include_header {
  display: flex;
  .include_header_text {
    font-family: roboto-mono-light, sans-serif;
    font-size: 22px;
    font-weight: normal;
    line-height: $ide-line-height;
    color: $include-color;
    margin-left: 8px;
    white-space: nowrap;
    overflow: hidden;
  }
}
