<div #header class="blog_header">
  <a routerLink="/home" routerLinkActive="active"
    ><h1>manueme <span>Blog</span></h1></a
  >
  <div #authorLine class="author_line">
    <div class="sticky_title">manueme <span>Blog</span></div>
    <div class="author">Author:</div>
    <div class="author_name">Manuel Machado</div>
    <div class="website_links">
      <a href="https://www.linkedin.com/in/manueme" class="website_link linkedIn"></a>
      <a href="https://github.com/manueme" class="website_link github"></a>
    </div>
    <div class="profile_pic"></div>
  </div>
</div>
