<div class="blog_entry_container_wrapper">
  <div class="blog_entry_container_header">
    <img *ngIf="!isOpen" class="expand_collapse_button" src="../../assets/img/collapsed.code.icon.svg" alt="expand"/>
    <img *ngIf="isOpen" class="expand_collapse_button" src="../../assets/img/expanded.code.top.icon.svg" alt="expand"/>
    <div class="member_space">{{spaceName}}</div>
    <div class="member">{{memberName}}</div>
    <div *ngIf="!isOpen" class="code">{{" {...}"}}</div>
    <div *ngIf="isOpen" class="code">{{" {"}}</div>
  </div>
  <div *ngIf="isOpen" class="blog_entry_container_body">
  </div>
  <div *ngIf="isOpen" class="blog_entry_container_footer">
    <img class="expand_collapse_button" src="../../assets/img/expanded.code.bottom.icon.svg" alt="expand"/>
    <div class="code">{{"}"}}</div>
  </div>
</div>
