@import '../../../../scss/constants';
@import '../../../../scss/colors';

.line_number {
  height: $ide-line-height;
  width: $ide-side-bar-width;
  font-family: roboto-mono-light, "Source Code Pro", monospace;
  font-size: 22px;
  line-height: $ide-line-height;
  color: $line-numbers;
  text-align: center;
}

@media (max-width: 500px) {
  .line_number {
    font-size: 18px;
    width: $ide-side-bar-width-small;
  }
}
