@import "../../../scss/colors";

$ide-line-height: 55px;
$ide-side-bar-margin: -54px;

.blog_ide_wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  .blog_ide {
    flex: 1;
    display: flex;
    width: 90%;
    max-width: 1200px;
    background: $ide-background;

    .ide_side_bar {
      width: 73px;
      background: $line-side-bar;
      border-right: 2px solid $line-separator;
    }

    .ide_body {
      height: 100%;
      width: 100%;

      .include_header {
        display: flex;
        margin-left: $ide-side-bar-margin;
        .include_header_text {
          font-family: roboto-mono-light, sans-serif;
          font-size: 24px;
          font-weight: normal;
          line-height: $ide-line-height;
          color: $include-color;
          margin-left: 25px;
        }
      }


      .ide_line_jump {
        margin-left: $ide-side-bar-margin;
        height: $ide-line-height;
        width: 100%;
      }
    }
  }
}
