<div class="blog_ide_wrapper">
  <div class="blog_ide">
    <div class="ide_side_bar"></div>
    <div class="ide_body">
      <div class="include_header">
        <app-ide-line-number [lineNumber]="1"></app-ide-line-number>
        <div class="include_header_text">#include "blog.h"</div>
      </div>
      <div class="ide_line_jump">
        <app-ide-line-number [lineNumber]="2"></app-ide-line-number>
      </div>
      <app-entry-list [startLine]="3" [lineCount]="20" [spaceName]="'Blog::'" [memberName]="'Blog()'"></app-entry-list>
      <div class="ide_line_jump">
        <app-ide-line-number [lineNumber]="24"></app-ide-line-number>
      </div>
      <app-entry-list [startLine]="25" [lineCount]="5" [spaceName]="'Blog::'" [memberName]="'~Blog()'"></app-entry-list>
      <div class="ide_line_jump">
        <app-ide-line-number [lineNumber]="31"></app-ide-line-number>
      </div>
    </div>
  </div>
</div>
