.article_entry {
  margin: 10px 0;

  .article_content {
    width: 100%;
    color: white;
    margin-top: 5px;

    .article_title {
      font-family: raleway-semibold, sans-serif;
      font-size: 28px;
      margin-bottom: 25px;
      text-align: center;
    }

    .article_element {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 15px 0;
    }

    .article_paragraph {
      composes: article_element;
      font-family: raleway-regular, sans-serif;
      font-size: 12px;
    }

    .article_image {
      max-height: 260px;
      max-width: 100%;
      box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.2);
      border-radius: 5px;
    }

    .article_image_footer {
      font-family: raleway-light, sans-serif;
      font-size: 12px;
      text-align: center;
      font-style: italic;
      margin-top: 8px;
    }
  }
}
