.main-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 100%;
}

.blog_content_wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  background: url("../assets/blog-background.png");
}
