@import '../blog-ide.component';

.blog_entry_container_wrapper {
  display: flex;
  flex-direction: column;
  margin-left: $ide-side-bar-margin;

  .blog_entry_container_header {
    display: flex;
    flex-direction: row;
    align-items: center;

    .expand_collapse_button {
      width: 22px;
      cursor: pointer;
    }
    .member_space {
      font-family: roboto-mono-light, sans-serif;
      font-size: 24px;
      font-weight: normal;
      line-height: $ide-line-height;
      color: $function-color2;
      margin-left: 8px;
    }
    .member {
      font-family: roboto-mono-light, sans-serif;
      font-size: 24px;
      font-weight: normal;
      line-height: $ide-line-height;
      display: flex;
      align-items: center;
      color: $class-white;
    }
  }
  .code {
    font-family: roboto-mono-light, sans-serif;
    font-size: 24px;
    font-weight: normal;
    line-height: $ide-line-height;
    color: $code-color;
    margin-left: 8px;
  }
  .blog_entry_container_body {
  }
  .blog_entry_container_footer {
    display: flex;
    flex-direction: row;
  }
}
