$ide-background: #100F0F;
$class-orange: #f2994a;
$include-color: #27ae60;
$function-color: #2597D7;
$function-color2: #2597D7;
$class-white: #f2f2f2;
$code-color: #A9A9A9;
$author-line: linear-gradient(90deg, #202833 0%, #0E1116 100%);
$entry-decoration: linear-gradient(90deg, #D3FF7500 0%, #D3FF75 50%, #D3FF7500 100%);
$author-line-border: rgba(#D3FF75, 0.54);
$header-background: #202833;
$line-separator: #0a0c10;
$shadows-black: rgba(0,0,0,0.5);
$line-side-bar: #28292b;
$line-numbers: #999999;
$entry-border: rgba(#D3FF75, 0.54);
$blog-background: linear-gradient(#2a2d32 0%, #030305 100%);;
